<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>hello world</h1>
    {% if messages%}
        {% for message in messages%}
            {{message}}
        {% endfor %}


    {% endif %}
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
            <label for="firstname">Firstname</label>
            <input type="text" name="firstname" id="firstname" placeholder="andro"> <br>
            <label for="lastname">Lastname</label>
            <input type="text" name="lastname" id="lastname" placeholder="biert">

            <input type="submit" value="submit">   
    </form>
    <h3>
        Want to see <a href="{% url 'profile' %}">the Members </a> 
    </h3>
</body>
</html>